[neopixel board_rgb]
pin: gpio24
chain_count: 114
color_order: GRB
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 0

[gcode_macro LIGHTS_OFF]
gcode:
    {% for led_index in range(1, 91) %}
        {% set transmit=1 if loop.last else 0 %}
        SET_LED LED=board_rgb RED=0 GREEN=0 BLUE=0 INDEX={led_index} TRANSMIT={transmit}
    {% endfor %}

[gcode_macro LIGHTS_ON]
gcode:
    {% set R = params.R|default(0.1)|float %}
    {% set G = params.G|default(0.1)|float %}
    {% set B = params.B|default(0.1)|float %}

    {% for led_index in range(1, 91) %}
        {% set transmit=1 if loop.last else 0 %}
        SET_LED LED=board_rgb RED={R} GREEN={G} BLUE={B} INDEX={led_index} TRANSMIT={transmit}
    {% endfor %}

[output_pin toolhead_leds]
pin: can:PD3
value: 1
shutdown_value: 0

[gcode_macro TOGGLE_TOOLHEAD_LEDS]
gcode:
    SET_PIN PIN=toolhead_leds VALUE={(not printer['output_pin toolhead_leds'].value)|int}

[delayed_gcode INITIALISE_LEDS]
initial_duration: 1
gcode:
    {% for led_index in range(1, 106) %}
        {% set transmit=1 if loop.last else 0 %}
        {% set red=0.1 if loop.index < 91 else 0 %}
        {% set green=0.1 if loop.index < 91 else 0 %}
        SET_LED LED=board_rgb RED={red} GREEN={green} BLUE=0.1 INDEX={led_index} TRANSMIT={transmit}
    {% endfor %}

    STATUS_STANDBY

[gcode_macro _lighting_variables]
variable_colors: {
        'busy': {'r': 0.4, 'g': 0.0, 'b': 0.0, 'w': 0.0},
        'heating': {'r': 0.3, 'g': 0.2, 'b': 0.0, 'w': 0.0},
        'homing': {'r': 0.0, 'g': 0.6, 'b': 0.2, 'w': 0.0},
        'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
        'printing': {'r': 0.3, 'g': 0.0, 'b': 0.0, 'w': 0.0},
        'standby': {'r': 0.3, 'g': 0.3, 'b': 0.3, 'w': 0.3}
    }
variable_groups: {
        'bed': {
            'target': "board_rgb",
            'indices': "107,108,109,110,111,112,113,114"
        },
        'skirt_left': {
            'target': "board_rgb",
            'indices': "91,92,93,94,95,96,97,98"
        },
        'skirt_right': {
            'target': "board_rgb",
            'indices': "99,100,101,102,103,104,105,106"
        },
    }

gcode:
    # This section is required.  Do Not Delete.

[gcode_macro _SET_LEDS]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = params.LED|string %}
    {% set idx = (params.IDX|string).split(',') %}
    {% set transmit_last = params.TRANSMIT|default(1) %}

    {% for led_index in idx %}
        {% set transmit=transmit_last if loop.last else 0 %}
        SET_LED LED={led} RED={red} GREEN={green} BLUE={blue} WHITE={white} INDEX={led_index} TRANSMIT={transmit}
    {% endfor %}

[gcode_macro _SET_LEDS_BY_NAME]
gcode:
    {% set leds_name = params.LEDS %}
    {% set color_name = params.COLOR %}
    {% set color = printer["gcode_macro _lighting_variables"].colors[color_name] %}
    {% set led = printer["gcode_macro _lighting_variables"].groups[leds_name]["target"] %}
    {% set idx = printer["gcode_macro _lighting_variables"].groups[leds_name]["indices"] %}
    {% set transmit = params.TRANSMIT|default(1) %}
    _SET_LEDS LED={led} RED={color.r} GREEN={color.g} BLUE={color.b} WHITE={color.w} IDX="{idx}" TRANSMIT={transmit}

[gcode_macro STATUS_HOMING]
gcode:
    _SET_LEDS_BY_NAME LEDS="bed" COLOR="homing"

[gcode_macro STATUS_HEATING]
gcode:
    _SET_LEDS_BY_NAME LEDS="bed" COLOR="heating"

[gcode_macro STATUS_STANDBY]
gcode:
    _SET_LEDS_BY_NAME LEDS="bed" COLOR="standby"

[gcode_macro STATUS_PRINTING]
gcode:
    _SET_LEDS_BY_NAME LEDS="bed" COLOR="printing"

[gcode_macro STATUS_OFF]
gcode:
    _SET_LEDS_BY_NAME LEDS="bed" COLOR="off"

[gcode_macro STATUS_DEMO]
gcode:
    SET_LED LED=board_rgb RED=0 GREEN=0 BLUE=1 INDEX=107 TRANSMIT=0
    SET_LED LED=board_rgb RED=0 GREEN=0 BLUE=1 INDEX=108 TRANSMIT=0
    SET_LED LED=board_rgb RED=0 GREEN=1 BLUE=0 INDEX=109 TRANSMIT=0
    SET_LED LED=board_rgb RED=0 GREEN=1 BLUE=0 INDEX=110 TRANSMIT=0
    SET_LED LED=board_rgb RED=0 GREEN=1 BLUE=0 INDEX=111 TRANSMIT=0
    SET_LED LED=board_rgb RED=0 GREEN=1 BLUE=0 INDEX=112 TRANSMIT=0
    SET_LED LED=board_rgb RED=1 GREEN=0 BLUE=0 INDEX=113 TRANSMIT=0
    SET_LED LED=board_rgb RED=1 GREEN=0 BLUE=0 INDEX=114 TRANSMIT=1

#[led_effect led_test]
#autostart: false
#frame_rate: 24
#leds:
#    neopixel:board_rgb (92-107)
#layers:
#    breathing  10 1 top (0, 0, 0.3)

#[led_effect rainbow]
#leds:
#    neopixel:board_rgb
#    neopixel:displayStatus
#layers:
#    gradient 1 1 top (0.3,0,0),(0,0.3,0),(0,0,0.3)
